annotated-types==0.7.0
boto3==1.38.0
botocore==1.38.0
bullmq==2.13.1
jmespath==1.0.1
msgpack==1.1.0
mypy-boto3-s3==1.38.0
pydantic==2.11.3
pydantic-settings==2.9.1
pydantic_core==2.33.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
redis==5.2.1
s3transfer==0.12.0
semver==2.13.0
six==1.17.0
typing-inspection==0.4.0
typing_extensions==4.13.2
urllib3==2.4.0
